
/*надпись cat-energy для мобильной версии*/

@media (max-width: 768px) {
  .header {
    background-image: url("../images/footer-logo.svg");
    background-repeat: no-repeat;
    background-size: 101px auto;
    background-position: center;
  }
}
