.button {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: none;
  background-color: $basic-green;
}
