.card {
  --title-width: 80px;
  --title-margin: 0 0 14px 0;
  --font-size-small: inherit;
  --line-height-small: inherit;
  --font-size-data: 12px;
  --line-height-data: 16px;
  --button-margin-top: 21px;

  padding: 20px 0 25px;
}

.card__wrapper {
  display: flex;
}

.card__image-container {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 140px;
  padding: 0 10px;
}

.card__image {
  object-fit: contain;
}

.card__content {
  flex-grow: 1;
}

.card__title {
  margin: var(--title-margin);
  width: var(--title-width);
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: $special-dark-grey;
}

.card__data {
  margin: 0;
  font-size: var(--font-size-data);
  line-height: var(--line-height-data);
  color: $small-text-color;
}

.card__item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  gap: 10px;
}

.card__description {
  font-size: var(--font-size-small);
  line-height: var(--line-height-small);
  margin: 0;
  word-break: break-word;
}

.card__button {
  width: 100%;
  margin-top: var(--button-margin-top);
}

.card--show-more {
  --title-width: 100%;
  --title-margin: 0 0 8px 0;
  --font-size-small: 12px;
  --line-height-small: 16px;

  position: relative;
  padding: 78px 20px 23px;
  text-align: center;

  &::before {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    content: url("../../images/icons/plus.svg");
    width: 30px;
    height: 30px;
  }
}

.card--extra {
  --title-width: 100%;
  --title-margin: 0 0 6px 0;
  --font-size-data: 14px;
  --line-height-data: 20px;
  --button-margin-top: 13px;

  padding: 12px 0 18px;
}
