.example {
  background-color: #eaeaea;

  @media #{$tablet-only} {
    background-color: #ffffff;
  }
}

.example__wrapper {
  margin: auto;
  padding: 22px 20px 0;
}

.example__title {
  margin-bottom: 41px;
}

.example__content {
  margin: 0;
}

.example__stats {
  margin: 19px 0 9px;
}

.example__result {
  margin: 0;
  margin-bottom: 19px;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
}

.example__slider {
  padding-bottom: 40px;
}
