.example-stats {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 330px;
}

.example-stats__item {
  max-width: 135px;
  margin-bottom: 10px;
}

.example-stats__number {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 124px;
  padding: 15px 10px;
  font-family: $secondary-font;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid $special-grey;
  border-radius: 3px;
  flex-grow: 1;
  overflow-wrap: anywhere;
}

.example-stats__description {
  box-sizing: border-box;
  width: calc(100% - 18px * 2);
  margin: -8px auto 0;
  padding: 0 5px;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  text-transform: lowercase;
  background-color: #eaeaea;
  overflow-wrap: anywhere;
}
