.footer {
  @media #{$desktop-width} {
    background-color: $basic-grey;
  }
}

.footer__contacts {
  background-color: $basic-grey;
  padding: 20px;
  max-width: $max-content-width;
  margin: auto;

  @media #{$tablet-width} {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 20px;
    padding: 56px $tablet-side;
  }

  @media #{$desktop-width} {
    padding: 68px $desktop-side;
  }
}

.footer__logo-text {
  padding: 20px 0;
  justify-self: start;

  @media #{$tablet-width} {
    padding: 0;
    margin-left: 1px;
  }
}

.footer__social {
  @media #{$mobile-only} {
    padding: 19px 0;
    border-top: 1px solid #d9d9d9;
    border-bottom: 1px solid #d9d9d9;
  }
}

.footer__htmlacademy {
  @media #{$mobile-only} {
    padding: 20px 0;
  }

  @media #{$tablet-width} {
    justify-self: end;
  }
}
