.gift {
  display: block;
  padding: 187px 50px 43px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-decoration: none;
  background-color: #acacac;
  background-image: url("../../images/icons/icon_gift.svg"), linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../images/catalog/gift-case@1x.jpg");
  background-repeat: no-repeat;
  background-size: 78px 80px, auto 100%, auto 100%;
  background-position: top 59px center, center, center;
}
