.header {
  position: relative;
  padding-top: 65px;
  background-color: #ffffff;
  color: #000000;
  z-index: 2;

  @media (max-width: $mobile-width-only) {
    background-image: url("../../images/logo/footer-logo.svg");
    background-size: 101px auto;
    background-repeat: no-repeat;
    background-position: top 22px center;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;
  }
}

.header--index {
  @media (min-width: $desktop-width) {
    background-image: linear-gradient(to right, #ffffff 50%, rgba(104, 183, 56, 0.85) 50%), linear-gradient(to right, #606050, #434244);
  }
}

.header__wrapper {
  @media (min-width: $tablet-width) {
    margin: 0 auto;
    padding: 25px 0 29px;
    width: calc(100% - 2 * $tablet-padding);
    display: flex;
    justify-content: space-between;
    gap: 40px;
  }

  @media (min-width: $desktop-width) {
    margin: 0 auto;
    padding: 55px 0 25px;
    width: calc(100% - 2 * $desktop-padding);
  }
}

.header__logo {
  position: absolute;
  top: 13px;
  left: $mobile-padding;

  @media (min-width: $tablet-width) {
    position: static;
  }
}
