.hero {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  color: #ffffff;

  @media #{$tablet-width} {
    min-height: 840px;
    padding: 4px 120px 526px;
    color: #000000;
    text-align: left;
  }

  @media #{$desktop-width} {
    min-height: 549px;
    padding: 0 190px 100px;
  }
}

.hero::before {
  @media #{$desktop-width} {
    position: absolute;
    right: 0;
    bottom: 0;
    content: "";
    width: 50%;
    height: calc(100% + 143px);
    background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set(url("../../images/hero/hero-cat-desktop@1x.jpg") type("image/jpeg") 1x, url("../../images/hero/hero-cat-desktop@2x.jpg") type("image/jpeg") 2x), linear-gradient(to right, #4e4d52 40%, #3f3e43 60%);
    background-repeat: no-repeat;
    background-color: #4a494e;
    background-position: center, right -321px bottom;
  }
}

.hero__wrapper {
  display: flex;
  flex-direction: column;
  max-width: $max-content-width;
  margin: 0 auto;

  @media #{$mobile-only} {
    min-height: 481px;
  }
}

.hero__content {
  position: relative;
  box-sizing: border-box;
  padding: 27px 20px 0;
  min-height: 302px;
  background-image: linear-gradient(rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), image-set(url("../../images/hero/hero-cat@1x.jpg") type("image/jpeg") 1x, url("../../images/hero/hero-cat@2x.jpg") type("image/jpeg") 2x);
  background-size: auto calc(100% - 135px), auto calc(100% - 135px);
  background-repeat: no-repeat;
  background-position: top center, top center;
  background-color: #4a494e;
  z-index: 1;

  @media #{$tablet-width} {
    padding: 0;
    min-height: 200px;
    background-image: none;
    background-color: #ffffff;
  }

  @media #{$desktop-width} {
    width: calc(50% - 55px);
  }
}

.hero__content::before {
  @media #{$mobile-only} {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 135px;
    background-color: #ffffff;
  }
}

.hero__content::after {
  position: relative;
  display: block;
  margin: 30px auto 0;
  content: "";
  width: 280px;
  height: 270px;
  background-image: image-set(url("../../images/hero/hero-product@1x.png") type("image/png") 1x, url("../../images/hero/hero-product@2x.png") type("image/png") 2x);
  z-index: 2;

  @media #{$tablet-width} {
    position: absolute;
    margin: 0 auto;
    top: calc(100% - 30px);
    left: 50%;
    transform: translateX(-50%);
    width: 709px;
    height: 609px;
    background-image: image-set(url("../../images/hero/hero-product-tablet@1x.png") type("image/png") 1x, url("../../images/hero/hero-product-tablet@2x.png") type("image/png") 2x);
  }

  @media #{$desktop-width} {
    position: absolute;
    margin: 0;
    left: calc(100% + 168px);
    top: 0;
    width: 552px;
    height: 499px;
    background-image: image-set(url("../../images/hero/hero-product-desktop@1x.png") type("image/png") 1x, url("../../images/hero/hero-product-desktop@2x.png") type("image/png") 2x);
    z-index: -1;
  }
}

.hero__title {
  max-width: 260px;
  margin: 0 auto;
  font-family: $secondary-font;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;

  @media #{$tablet-width} {
    max-width: 100%;
    margin: 26px 0 40px;
    font-size: 60px;
    line-height: 60px;
  }

  @media #{$desktop-width} {
    margin: 80px 0 40px;
  }
}

.hero__slogan {
  max-width: 260px;
  margin: 25px auto 0;
  font-family: $secondary-font;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media #{$tablet-width} {
    max-width: 100%;
    margin: 0 0 49px;
    font-size: 20px;
    line-height: 20px;
  }

  @media #{$desktop-width} {
    margin: 0 0 52px;
  }
}

.hero__button {
  display: block;
  margin: auto 20px 0;

  @media #{$tablet-width} {
    margin: 0;
    padding: 14px 28px;
    display: inline-block;
    align-self: flex-start;
    z-index: 1;
  }

  @media #{$desktop-width} {
    max-width: 45%;
  }
}
