.htmlacademy__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  color: #444444;
  text-decoration: none;

  &:active {
    opacity: 0.3;
  }

  @media #{$tablet-width} {
    justify-content: flex-end;
    gap: 23px;
  }
}

.htmlacademy__text {
  @media #{$mobile-only} {
    width: calc(100% - 40px);
  }
}

.htmlacademy__logo {
  width: 27px;
  height: 34px;
  fill: #666666;
}

.htmlacademy__link:focus-visible .htmlacademy__logo,
.htmlacademy__link:hover .htmlacademy__logo {
  fill: $basic-green;
}
