.inner-text {
  margin: 0;
  max-width: $max-content-width;
  font-family: $secondary-font;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;

  @media #{$tablet-width} {
    font-size: 20px;
    line-height: 30px;
  }
}
