.input-text {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;

  @media #{$tablet-width} {
    gap: 14px;
  }
}

.input-text--email,
.input-text--phone {
  --right-position: 11px;

  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: var(--right-position);
    content: "";
    width: 20px;
    height: 20px;
    mask-image: var(--mask-image);
    mask-repeat: no-repeat;
    background-color: #000000;
  }
}

.input-text--email {
  --right-position: 14px;
  --mask-image: url("../../images/icons/stack.svg#input-email");
}

.input-text--phone {
  --right-position: 14px;
  --mask-image: url("../../images/icons/stack.svg#input-phone");
}

.input-text__label {
  font-family: $secondary-font;
  font-size: 16px;
  text-transform: uppercase;

  @media #{$tablet-width} {
    font-size: 20px;
  }
}

.input-text__input {
  box-sizing: border-box;
  flex-grow: 1;
  height: 45px;
  padding: 14px 13px;
  font-family: $secondary-font;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;

  @media #{$tablet-width} {
    padding: 14px 18px;
    height: 52px;
    font-size: 20px;
  }
}

.input-text__input--email {
  padding-right: 35px;
}

.input-text__input--phone {
  padding-right: 35px;
}
