.input-text {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 15px;

  @media #{$tablet-width} {
    gap: 14px;
  }
}

.input-text--email,
.input-text--phone {
  --right-position: 11px;

  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: var(--right-position);
    content: "";
    width: 20px;
    height: 20px;
    mask-image: var(--mask-image);
    mask-repeat: no-repeat;
    background-color: #000000;
  }
}

.input-text--email {
  --right-position: 14px;
  --mask-image: url("../../images/icons/stack.svg#input-email");
}

.input-text--phone {
  --right-position: 14px;
  --mask-image: url("../../images/icons/stack.svg#input-phone");
}

.input-text--email:has(input:focus-visible)::after,
.input-text--phone:has(input:focus-visible)::after {
  background-color: $basic-green;
}

.input-text--email:has(input:invalid:not(:placeholder-shown))::after,
.input-text--phone:has(input:invalid:not(:placeholder-shown))::after {
  background-color: #ff8282;
}

.input-text__label {
  font-family: $secondary-font;
  font-size: 16px;
  text-transform: uppercase;
  flex-shrink: 0;

  @media #{$tablet-width} {
    font-size: 20px;
  }
}

.input-text__input {
  box-sizing: border-box;
  flex-grow: 1;
  width: 150px;
  height: 45px;
  padding: 14px 13px;
  font-family: $secondary-font;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  cursor: pointer;

  &:focus-visible {
    outline: 2px solid #444444;
  }

  &:hover {
    border: 1px solid #cdcdcd;
  }

  &:invalid:not(:placeholder-shown) {
    outline: 2px solid #ff8282;
  }

  &:disabled {
    pointer-events: none;
    color: rgb(68, 68, 68, 0.2);
  }

  @media #{$tablet-width} {
    padding: 14px 18px;
    height: 52px;
    font-size: 20px;
    width: initial;
  }
}

.input-text__input--email {
  padding-right: 35px;
  min-width: 170px;
}

.input-text__input--phone {
  padding-right: 35px;
  min-width: 170px;
}
