.main-nav__toggle {
  position: absolute;
  top: 20px;
  right: 21px;
  width: 24px;
  height: 24px;
  border: none;
  background-image: url("../../images/icons/stack.svg#burger");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;

  &:focus-visible,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &:disabled {
    opacity: 0.2;
    pointer-events: none;
  }

  @media #{$tablet-width} {
    display: none;
  }
}

.main-nav--nojs .main-nav__toggle {
  @media #{$mobile-only} {
    display: none;
  }
}

.main-nav--opened .main-nav__toggle {
  background-image: url("../../images/icons/stack.svg#cross");
  width: 18px;
  height: 18px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: #ffffff;

  @media #{$tablet-width} {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 0 32px;
  }

  @media #{$desktop-width} {
    background-color: transparent;
  }
}

.main-nav--closed .main-nav__list {
  @media #{$mobile-only} {
    display: none;
  }
}

.main-nav--opened .main-nav__list {
  @media #{$mobile-only} {
    position: absolute;
    top: 64px;
    left: 0;
    width: 100%;
  }
}

.main-nav--nojs .main-nav__list {
  position: static;
}

.main-nav__item {
  padding: 12px 0 14px;
  border-top: 1px solid #e6e6e6;

  @media #{$tablet-width} {
    padding: 0;
    border: none;
  }
}

.main-nav__link {
  display: block;
  padding: 10px;
  font-family: $secondary-font;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000000;

  &:focus-visible {
    opacity: 0.8;
  }

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.3;
  }

  @media #{$tablet-width} {
    padding: 10px 1px 12px;
    font-size: 18px;
    line-height: 33px;
  }

  @media #{$desktop-width} {
    padding: 15px 1px 16px;
    font-size: 20px;
  }
}

.index .main-nav__link {
  @media #{$desktop-width} {
    color: #ffffff;
  }
}

.index .main-nav__link--current {
  @media #{$desktop-width} {
    text-decoration-color: #ffffff;
  }
}

.main-nav__link--current {
  @media #{$tablet-width} {
    text-decoration: underline;
    text-decoration-color: $basic-green;
    text-underline-offset: 12px;
  }
}
