.main-catalog {
  padding: 20px $mobile-side 20px;

  @media #{$tablet-width} {
    padding: 0 $tablet-side 47px;
  }

  @media #{$desktop-width} {
    padding: 82px $desktop-side 71px;
  }
}

.main-catalog__list {
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  max-width: $max-content-width;

  @media #{$desktop-width} {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.main-catalog__item {
  position: relative;
  margin-bottom: 20px;
  padding: 16px 20px;
  background-color: $basic-grey;
  color: $small-text-color;

  @media #{$tablet-width} {
    margin-bottom: 30px;
    padding: 77px 316px 53px 52px;
  }

  @media #{$desktop-width} {
    margin-bottom: 0;
    padding: 41px 52px 55px;
  }
}

.main-catalog__item:last-child {
  margin-bottom: 0;
}

.main-catalog__item::before {
  position: absolute;
  top: 24px;
  left: 20px;
  content: "";
  width: 50px;
  height: 50px;
  background-color: $basic-green;
  border-radius: 50%;

  @media #{$tablet-width} {
    top: 92px;
    left: initial;
    right: 63px;
    width: 200px;
    height: 200px;
  }

  @media #{$desktop-width} {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
    right: initial;
  }
}

.main-catalog__item::after {
  position: absolute;
  top: 47px;
  left: 45px;
  transform: translate(-50%, -50%);
  content: "";

  @media #{$tablet-width} {
    top: 178px;
    left: initial;
    right: 163px;
    transform: translate(50%, -50%);
  }

  @media #{$desktop-width} {
    top: 90px;
    left: 102px;
    right: initial;
    transform: translate(-50%, -50%);
  }
}

.main-catalog__item--slim::after {
  width: 36px;
  height: 53px;
  background-image: url("../../images/icons/stack.svg#cat-slim");

  @media #{$tablet-width} {
    width: 140px;
    height: 194px;
  }

  @media #{$desktop-width} {
    width: 70px;
    height: 97px;
  }
}

.main-catalog__item--pro::after {
  width: 67px;
  height: 28px;
  background-image: url("../../images/icons/stack.svg#cat-pro");

  @media #{$tablet-width} {
    top: 192px;
    right: 163px;
    width: 268px;
    height: 112px;
  }

  @media #{$desktop-width} {
    top: 95px;
    right: initial;
    left: 100px;
    width: 134px;
    height: 56px;
  }
}

.main-catalog__title {
  margin: 13px 0 29px 70px;
  font-family: $secondary-font;
  font-size: 24px;
  font-weight: 400;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  overflow-wrap: break-word;

  @media #{$tablet-width} {
    margin: 0 0 24px;
    max-width: 340px;
    font-size: 36px;
    line-height: 36px;
  }

  @media #{$desktop-width} {
    margin: 36px 0 73px 162px;
  }
}

.main-catalog__description {
  position: relative;
  margin: 0;

  @media #{$tablet-width} {
    max-width: 340px;
  }

  @media #{$desktop-width} {
    max-width: 100%;
  }
}

.main-catalog__description::after {
  @media #{$mobile-only} {
    position: absolute;
    bottom: -21px;
    left: 0;
    content: "";
    width: 100%;
    height: 1px;
    background-color: #d9d9d9;
  }
}

.main-catalog__link {
  position: relative;
  margin-top: 35px;
  padding: 5px 57px 5px 0;
  background-color: transparent;
  color: #000000;

  &::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: calc(100% - 41px);
    content: "";
    width: 32px;
    height: 10px;
    background-image: url("../../images/icons/stack.svg#button-arrow");
    background-position: center right 7px;
    background-repeat: no-repeat;
    background-size: 32px 10px;
    transition: 0.1s ease-in-out;
  }

  &:focus-visible,
  &:hover {
    background-color: transparent;
  }

  &:focus-visible::after,
  &:hover::after {
    background-position: center right 3px;
  }

  &:active {
    background-color: transparent;
    color: #000000;
    opacity: 0.3;
  }

  @media #{$tablet-width} {
    margin-top: 50px;
    padding: 4px 67px 5px 0;
  }

  @media #{$desktop-width} {
    margin-top: 27px;
  }
}
