.offer--inner {
  background-color: $basic-grey;
}

.offer__wrapper {
  position: relative;

  @media #{$desktop-width} {
    padding: 95px 0 106px;
  }
}

.offer__position {
  @media #{$desktop-width} {
    //position: absolute;
    margin: auto;
    min-width: 1440px;
    max-width: calc(#{$max-content-width} + #{$desktop-side} * 2);
    //height: 400px;
    left: 0;
    right: 0;
  }
}

.offer__container {
  display: flex;
  justify-content: space-between;
  padding: 26px 20px;

  @media #{$tablet-width} {
    padding: 60px 70px;
  }

  @media #{$desktop-width} {
    //position: absolute;
    position: relative;
    box-sizing: border-box;
    gap: 93px;
    width: 565px;
    max-height: calc(100% - 100px);
    top: 0;
    left: 110px;
    padding: 60px 79px;
    background-color: #ffffff;
    overflow: auto;
    z-index: 2;
  }
}

.offer__title {
  width: 50%;
  margin: 0;
  font-family: $secondary-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media #{$tablet-width} {
    margin-top: 3px;
    font-size: 20px;
    line-height: 26px;
  }
}

.offer__address {
  width: 50%;
  font-style: normal;
  line-height: 20px;

  @media #{$tablet-width} {
    text-align: right;
  }

  @media #{$desktop-width} {
    text-align: left;
  }
}

.offer__address-text {
  margin: 0;

  @media #{$tablet-width} {
    margin-bottom: 20px;
  }
}

.offer__address-text:last-child {
  margin-bottom: 0;
}

.offer__map {
  position: relative;

  @media #{$desktop-width} {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
//    overflow: hidden;
  }
}
