.products-extra {
  padding: 26px $mobile-side 35px;

  @media #{$tablet-width} {
    padding: 26px $tablet-side 74px;
  }
}

.products-extra__title {
  margin-bottom: 34px;

  @media #{$tablet-width} {
    margin: 0 40px 80px;
  }
}

.products-extra__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.products-extra__item {
  border-bottom: 1px solid $special-grey;
}

.products-extra__item:first-child {
  border-top: 1px solid $special-grey;
}

.products-extra__gift {
  margin: 35px 0 0;

  @media #{$tablet-width} {
    margin: 70px 0 0;
  }
}
