.slider {
  box-sizing: border-box;
  height: 256px;
  width: 280px;
  margin: 0 auto;
  position: relative;
}

.slider__list {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  height: 256px;
  width: 280px;
  z-index: 1;
}

.slider__screen {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #eaeaea;
  overflow: hidden;
  transition: width 1s ease;
}

.slider__screen--before {
  z-index: 5;
  width: 50%;
}

.slider--before .slider__screen--before {
  width: 100%;
}

.slider--after .slider__screen--before {
  width: 0;
}

.slider__screen--after {
  z-index: 1;
}

.slider__image {
  height: 256px;
  width: 280px;
}

.slider__toggle {
  width: 40px;
  height: 40px;
  display: block;
  border: 2px solid #666666;
  position: absolute;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  cursor: pointer;
  transition: left 1s ease;
}

.slider--before .slider__toggle {
  left: 100%;
}

.slider--after .slider__toggle {
  left: 0;
}
