.textarea {
  resize: none;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px 18px 15px;
  font-family: $secondary-font;
  font-size: 16px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;

  @media #{$tablet-width} {
    padding: 10px 10px 15px 20px;
    font-size: 20px;
  }
}
